In [1]:
import pandas as pd

In [35]:
read_info_run04 = pd.read_csv('/public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result/porecplot_v3/porec_pre_v2.2/DpnII_run04.read_info.csv',converters={'divide_order':str})

In [33]:
read_info_run02 = pd.read_csv('/public/home/lizw/task/pore_c/porec_1000_filter_mainchr_result/porecplot_v3/porec_pre_v2.2/DpnII_run02.read_info.csv',converters={'divide_order':str})

In [34]:
read_info_run02.groupby('divide_order').count()

              Unnamed: 0  read_name  read_length   order
divide_order
1                 895268     895268       895268  895268
11-20               1913       1913         1913    1913
2                 784159     784159       784159  784159
20+                   41         41           41      41
3                 428332     428332       428332  428332
4-5               298375     298375       298375  298375
6-10               73811      73811        73811   73811

In [38]:
read_info_run02['order'].median()

2.0

In [36]:
read_info_run04.groupby('divide_order').count()

              Unnamed: 0  read_name  read_length    order
divide_order
1                 969869     969869       969869   969869
11-20              98820      98820        98820    98820
2                1259516    1259516      1259516  1259516
20+                 1242       1242         1242     1242
3                1111745    1111745      1111745  1111745
4-5              1256486    1256486      1256486  1256486
6-10              774822     774822       774822   774822

In [39]:
read_info_run04['order'].median()

3.0